@import "blocks/button";
@import "blocks/colors";

@import "blocks/headerSlider_1";

@import "blocks/whatWeDo";
@import "blocks/latestNews";
@import "blocks/galerry";
@import "blocks/getInTouch";
@import "blocks/map";
@import "blocks/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
