@import "blocks/headerSlider_1";
@import "blocks/slider2";
@import "blocks/slider_3";
@import "blocks/slider_4";
@import "blocks/whatWeDo";
@import "blocks/latestNews";
@import "blocks/galerry";
@import "blocks/getInTouch";
@import "blocks/map";
@import "blocks/footer";

@import "blocks/button";
@import "blocks/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
