$gradient_1: linear-gradient(63.43deg, #55b7ff 14.81%, #7d59ff 81.48%);
$opacity_1: 0.94;
$gradient_2: linear-gradient(57.1deg, #3b7fd3 10.72%, #23cbf9 89.28%);
$blue: #55b7ff;
$grey: #4b5562;
$black: #2c4058;
$white: #ffffff;
