.footer {
  text-align: center;
  background: linear-gradient(
      63.43deg,
      rgba(85, 183, 255, 0.94) 14.81%,
      rgba(125, 89, 255, 0.94) 81.48%
    ),
    url("../img/BG_SLEDR_3.png") center center no-repeat;
  background-size: cover;
}
.footer hr {
}
.get-in-touch hr {
  border: 1px solid #2c4058;
  background-color: $black;
  margin: 0 auto;
  margin-bottom: 28px;
}
.form {
}
.firm-information {
}
.your-information {
}
.footer-content {
}
.footer-logo {
}
.footer-links {
}
