.footer {
  text-align: center;
  background: linear-gradient(
      63.43deg,
      rgba(85, 183, 255, 0.94) 14.81%,
      rgba(125, 89, 255, 0.94) 81.48%
    ),
    url("../img/BG_SLEDR_3.png") center center no-repeat;
  background-size: cover;

  padding-top: 201px;
  padding-bottom: 207px;
}

.get-in-touch {
  background: $white;
  width: 770px;
  box-shadow: 0px -4px 15px rgba(133, 133, 133, 0.2);
  padding-top: 56px;
  padding-bottom: 80px;
  padding-left: 63px;
  padding-right: 60px;
  margin: 0 auto;

  z-index: 8;
}
.get-in-touch hr {
  border: 1px solid #2c4058;
  background-color: $black;
  margin: 0 auto;
  margin-bottom: 28px;
}
.get-in-touch h1 {
  color: $black;
  font-family: "Gotham", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
}
.form {
}
.firm-information {
}
.your-information {
}
.footer-content {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}
.footer-logo {
  text-align: left;
}
.footer-logo img {
  margin-bottom: 40px;
}
.footer-logo p {
  color: $white;
  font-size: 14px;
  line-height: 18px;
}
.footer-links {
  cursor: pointer;
}
