.gallery {
  text-align: center;

  padding-top: 140px;
  padding-bottom: 140px;
}
.gallery hr {
  border: 1px solid #2c4058;
  background-color: $black;
  margin: 0 auto;
  margin-bottom: 28px;
}
.gallery h1 {
  color: $black;
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.container {
  margin-bottom: 60px;
}
.container img {
  width: 100%;
  height: 100%;
  display: flex;
}

.button-gallery {
  background: $white;
  cursor: pointer;
  border: 1px solid #2c4058;
  padding: 20px 41px;
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  transition: background 1s;
}
.button-gallery:hover {
  transition-timing-function: ease-out;
  background-color: $blue;
}
